
Comment
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*////////////////////////////////////////////////////
                        Geral
////////////////////////////////////////////////////*/
a{
    text-decoration: none;
    color: black
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a.botao{
    background-color: #0e8388;
    border-radius: 10px;
    color: white;
    padding: .9vw;
    display: inline-block;
}

p.para{
    font-size: 0.8rem;
    color: #888888;
}

/*////////////////////////////////////////////////////
                        Header
////////////////////////////////////////////////////*/

header{
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw 3vw 10vw;
}

header h1{
    font-size: 1.4rem;
    font-weight: bold;
}

header nav ul{
    display: flex;
}

header nav ul li{
    padding: 0px 15px 0 0;
}

/*////////////////////////////////////////////////////
                    Conteudo
////////////////////////////////////////////////////*/

main{
    text-align: center;
}

main section.banner p{
    padding: 15px;
}

main section.banner h2{
    font-weight: bold;
    font-size: 1.4rem;
}
main section.banner img{
    width: 80%;
    max-width: 800px;
}

/*////////////////////////////////////////////////////
                    Produtos
////////////////////////////////////////////////////*/

main section.podrutos{
    text-align: center;
    background: linear-gradient(#cbe4de , #93aca6) scroll;
    padding: 2vw 10vw 2vw 10vw;
}

main section.podrutos ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

main section.podrutos ul li{
    width: 20%;
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    padding: 1vw 25px 1vw 25px;
}

main section.podrutos p{
    text-align: center;
    padding: 1vw 12px 1vw 12px
}

/*////////////////////////////////////////////////////
                    build
////////////////////////////////////////////////////*/

main section.build{
    padding: 5vw;
}

main section.build div.div{
    display: flex;
    padding: 3vw;
}

main section.build h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px;
}

main section.build h3{
    font-size: 1.4rem;
    padding: 6vw 3vw 0 3vw;
}

main section.build p{
    font-size: 1.1rem;
    color: #888888;
    padding: 1.3vw 3vw 0 3vw;
}

/*////////////////////////////////////////////////////
                    footer
////////////////////////////////////////////////////*/
footer{
    display: flex;
    justify-content: space-around;
    padding: 1vw 7vw 1vw 7vw;
    background-color:   #cbe4de;
}
footer ul{
    display: flex;
}
footer ul li{
    padding: 0 10px 0 10px;
}
footer p span{
    color: #888888;
}
footer ul li a{
    color: #888888;
}
footer a{
    font-weight: bold;
}

/* ///////////////////////////////////////
                Respo
///////////////////////////////////////*/
@media (max-width: 600px) {
    header{
        display: block;
        text-align: center;
    }
    header h1{
        margin: 2vw;
    }
    header nav ul li{
        width: 40%;
        padding: 1.7vw;
    }
    header nav ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    main section.podrutos ul li{
        width: 40%;
    }
    main section.build div.div{
        flex-wrap: wrap;
    }
    main section.build img{
        width:80%;
    }
    footer{
        flex-wrap: wrap;
    }
    footer ul li{
        padding: 3vw;
    }
  }











